<!doctype html>
<html>
  <head>
    <title>Art Chat Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
  </head>
  <body>
    <header>
      <!--Site Name-->
      Art Chat
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id = "flower" src = "./images/flower.jpg" alt = "myArt">
        <p>myArt</p>
      </div>
    </header>
    <main>
      <div id = "newsfeed">
      </div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2025: Aarna Patel est. 2009</p>
    </footer>
    <script src = "/js/feed.js"></script>
    <script src = "/js/global.js"></script>
  </body>
</html>
