body {
 background-image: url("/images/campus.png");
 background-color: #f7eaea;
 background-repeat: no-repeat;
  background-position: center;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(145, 182, 204);;
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgb(93, 153, 187);;
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
